* {
	margin: 0;
}

body {
	overflow: hidden;

}

div {
	margin: 30px;
}
a { text-decoration: none; } 

header {
	margin-left: 10vh;
}


.title {
	padding-top: 10vh;
	padding-left: 10vh;
	position: relative;
	z-index: 100;
}

.text {
	width: 35vw;
	margin-left: 4vw;
	margin-top: 100px;
}

.box {
	padding-left: 10vh;
	border-style:solid;
	border-color: #D03E28;
	background-color: ;
	width: 80%;
	height: 70vh;

	z-index:4;
}


a {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.5em;
    color: #D03E28;
}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: black;
  
}

/**
.imgmove {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 65vw; 
  }

  to {
	margin-left: 20px;
    width: 65vw; 
  }
}

.slide {
	animation-duration: 3s;
  	animation-name: titlefromright;
}


@keyframes titlefromright {
  from {
	width: 80vw;
	margin-top: 100px;
	margin-left: 90vw;

  }

  to {
	width: 35vw;
	margin-top: 100px;
	margin-left: 45vw;
  }
}
*/
.move {
	animation-duration: 3s;
  	animation-name: comeup;
}

@keyframes comeup {
  from {
	width: 80%;
	height: 10vh;
	padding-left: 10vh;
	

  }

  to {
	width: 80%;
	height: 70vh;
	padding-left: 10vh;
  }
}











