body {
	background-image: url(../media/pinkbackground.jpg);
	position:absolute; 
}

nav {
	font-family: didot, serif;
	position: fixed;
	z-index: 100;
	margin: 3px;

}


nav a {
	background-color: #FFF7D6;
	color: black;
	padding: 10px;
	display: inline-block;
	margin-bottom: 4px;
		color: #8B572A;
}

nav a:link, nav a:visited {
    text-decoration: none;
}

nav a:hover {
	background-color: #F08080;
	transition: background 1s;
	
}

nav a:hover {
	color: white;
	border-color: white;
	

}

main{
	z-index:1;
}
section{
	width:75%;
	height:100vh;
	background-size: 100%;
	margin-bottom: 10vh;
	display: inline-block;
	font-family: didot, serif;
	font-size: 40px;
	color: #8B572A;
	width: 100%;

}



/*#williamsburg, #soho, #east, #green {
	background-image :url(../media/circle.png) ;
	background-position: center;
	background-size: 100%;
	height: 100%;

}*/

/*#will {
	width: 100%;
	height:100%;
}
#so {
	width: 50%;
}
#east {
	width: 50%;
}
#green {
	width: 50%;
}*/
.desserts{
	width: 100;
	text-align: center;
	padding: 50px;

}




.col {
	display: inline-block;
	margin: 10px 10px 10px;
	padding: 10px;
	width:100%;
	height:100vh;
	background-size: 100%;
	margin-left: 50px;

/*	padding: 20px;*/
/*	margin-bottom: 10vh;*/
/*	width:50%;*/
/*	background-size: 100%;
	height:100%;*/

/*	border: 1px solid black;*/
	vertical-align: top;


}


.circle {
	border-radius: 10%;
	background-color: white;
	position: relative;
	border-style: dotted;
	border-color: #FFF7D6;
	background-size: cover;
	display: inline-block;
	margin-top: 100px;
	margin-left: 10px;

}
.circle a{
	width: 100%;
	height: 100%;
	display: block;

}

.circle:hover {
	opacity: 0.5;
	transition: 1s;
}

	.circle .label {
		display: none;
	}

	.circle:hover .label {
		display: block;
		font-size: 20px;
		opacity :200%;
		padding: 30px;
		z-index: 100px;

		}
		
.circle1{
	width: 130px;
	height:130px;
	margin-left: -150px;
	margin-top:

}

.circle2{
	width: 130px;
	height:130px;
	margin-top: 
	margin-left: 

}

.circle3{
	width: 130px;
	height:130px;
	margin-left:
	margin-top: 
}

.circle4{
	width: 130px;
	height:130px;
	margin-left:
	margin-top: 
}

a {
	font-family: didot, serif;
	color: #8B572A;


}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
	
	transition: background 1s;
	
}

a:hover {
	color: white;
	border-color: white;



