body {
	background-image: url(../media/pinkbackground.jpg);

}

img {
	top-margin: 50px;
	width: 100%;
	height:10%;
	size: 2%;
}

html {  }

.col {
	display: inline-block;
	margin: 0px 10px 20px;
	padding: 10px;
	border: 1px solid black;
	vertical-align: top;
}

.circle {
	
	width: 70%;
	vertical-align: top;
}

.desserts {
	width: 10%
}

.maca {
  position: absolute;
  width: 250%;
  left margin: 10px;
}


}
.imgA1 {
  z-index: 1;
}
.imgB1 {
  z-index: 3;
}