body {
	background-image: url(../media/pinkbackground.jpg);
	position:absolute; 
}

nav {
	font-family: didot, serif;
	position: fixed;
	z-index: 100;
	margin: 3px;

}


nav a {
	background-color: #FFF7D6;
	color: black;
	padding: 10px;
	display: inline-block;
	margin-bottom: 4px;
		color: #8B572A;
}

nav a:link, nav a:visited {
    text-decoration: none;
}

nav a:hover {
	background-color: #F08080;
	transition: background 1s;
	
}

nav a:hover {
	color: white;
	border-color: white;
	

}

main{
	z-index:1;


}
section{
	width:75%;
	height:100vh;
	background-size: 100%;
	border color: 1px;
	margin-bottom: 10vh;
	display: inline-block;
	font-family: didot, serif;
	font-size: 40px;
	color: #8B572A;
}

section h2 {
	display: block;
	margin: 0;
	font-size: 60px;
	font-weight: normal;
	

}

/*#williamsburg, #soho, #east, #green {
	background-image :url(../media/circle.png) ;
	background-position: center;
	background-size: 100%;
	height: 100%;

}*/

/*#will {
	width: 100%;
	height:100%;
}
#so {
	width: 50%;
}
#east {
	width: 50%;
}
#green {
	width: 50%;
}*/
 .desserts{
	width: 100;
	text-align: center;
	padding: 50px;
}




.col {
	display: inline-block;
	margin: 10px 10px 10px;
	padding: 10px;
	width:80%;
	height:100vh;
	background-size: 100%;


/*	padding: 20px;*/
/*	margin-bottom: 10vh;*/
/*	width:50%;*/
/*	background-size: 100%;
	height:100%;*/

/*	border: 1px solid black;*/
	vertical-align: top;


}

#williamsburg  {
	width: 100%;
}

#will h2 {
	margin-top: -40px;

}

#soho  {
	width: 100%;
}

#east  {
	width: 100%;
}

#green {
	width: 100%;
}



.circle {
	border-radius: 100%;
	background-color: white;
	position: relative;
	border-style: dotted;
	border-color: #FFF7D6;
	background-size: cover;
	margin-top: 30px;
	display: inline-block;
	margin-top: 210px;

}
.circle a{
	width: 100%;
	height: 100%;
	display: block;

}

.circle:hover {
	opacity: 0.5;
	transition: 1s;
}

	.circle .label {
		display: none;
	}

	.circle:hover .label {
		display: block;
		font-size: 20px;
		opacity :200%;
		padding: 30px;
		z-index: 100px;

		}
	


.circle1 {
	width: 160px;
	height:160px;
	
	}

.circle2{
	width: 160px;
	height:160px;
	

}

.circle3{
	width: 160px;
	height:160px;
	
	
}
.circle4{
	width: 160px;
	height:160px;

	
	
}

.circle5{
	width: 160px;
	height:160px;
	
}

h2 {
	font-size: 40px;
}

#navi   {
text-decoration: none;
color:#8B572A;
}

#navi:hover{
	color: white;
	border-color: white;


