h1 { 
	font-family: "Sole Serif Big Display Big Display Medium";
	font-weight: bold;
	font-style: normal;


}

h2 {
	font-family: "Sole Serif Big Display Big Display Medium";
	font-weight: bolder;
	font-style: normal;

}

h2 {

}

body { /* replace with your selector */
	font-family: "Sole Serif Big Display Big Display Medium";
	font-weight: normal;
	font-style: normal;
}


}

