* {
	box-sizing: border-box;
}

header {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

body {
	margin: 4px;
	margin-right: 0;
}

img {
	width: 50%;
	height: 50%;

}

.label {
	display: inline-block;
}
.label.active {
	background-color: lightpink;

}

.label.inactive {
	background-color: lightblue;
}

.prompt {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.off {
	color: white;
}

.prompt .monitor {
	display: inline-block;
	background-color: white;
	padding: 10px;
	border: 1px solid black;

}
.monitor {
	color: white;
	background-color:black;
}

.yay {
	display: inline block;
	
}



/*animation*/

@keyframes pulse {
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}





@media (min-height:0px) and (max-height: 440px) and (min-width: 100px)  {
	html {
		background-color: black;
	}
	.dark {
		position: absolute;
	}

	.dark:hover {
		background-color: ;
	}

	.light {
		display: none;
	}
	.on {
		display: none;
	}

}




 @media (min-height: 441px)  {
	html {
		background-color: white;
	}

	.light {
		padding-top: -200px;
		
		
	}

	.light:hover {
		background-color:;
	}

	.dark {
		display: none;
	}

}

