* {	
	background-color: #FFF7D6;
    margin: auto;
    padding: auto;
   /* background-color: #D03E28;*/
}

header {
 	height: 10vh;
    width: 100vw;
  	font-family: 'Atomic Age', cursive;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Monda', sans-serif;*/
	color: #D03E28;
	font-size: 2.2vw;
	position: fixed; 
	z-index: 1000;
	top:0;
	left:0;
	padding: 30px;
	background-color: #FFF7D6;
}

h1 {
	color: #D03E28;
}
footer {
  	width: 500vw;
  	height: 5vh;
	position: fixed;
	z-index: 800;
	bottom: 0;
	background-color: #D03E28;
	margin-left: -10vw;
}

a {
	margin-left: 15vw;
    font-family: 'Monda', sans-serif;
    color: white;
    background-color: #D03E28;
    font-size: 1.3vw;

}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: white;
    border-color: white;
}

.a {
	width: 25vw;
	display: block;
}
#flip {
	margin-top: 24vh;
	color: white;

}
#panel, #flip {
      padding: 10px;
      text-align: center;
      background-color: #D03E28;
      border: solid 1px #D03E28;
      width: 25vw;
      margin-left: 3vw;
      font-family: 'Monda', sans-serif;

  }

#panel {
      padding: 10px;
      padding-top: 2vh;
      display: none;

  }
 

/*.textbox {
	width: 40%;
	height: 100%;
	margin-left: 30vw;
	background-color: #D03E28;
	position: fixed;
	z-index: 10;
	position: absolute;

}*/
body {
	font-family: 'Monda', sans-serif;
	color: #D03E28;
	height: 180vh;

}

@media only screen and (min-width: 500px) {
.textone {
	width: 63vw;
	z-index: 100;
	position: absolute;
	margin-left: 34vw;
	margin-top: 15vh;
	font-size: 1.3vw;
	font-family: 'Monda', sans-serif;
	background-color: transparent;
	text-align: left;
}

.textone {
	  animation-duration: 2s;
	  animation-name: textmove;
	}

	@keyframes textmove {
	  from {
	   	width: 63vw;
		margin-left: 120vw;
		margin-top: 15vh;
		
	  }

	  to {
		width: 63vw;
		margin-left: 34vw;
		margin-top: 15vh;
		
		
	  }
}

@media only screen and (max-width: 500px) {
    
    .header {
   	 	height: 1vh;
   		background-color: black;
    }
  
    img {
    	display: none;
    }
    
    .h1 {
    	height: 100vh;
    }
    body {
 
    	height: 100vh;
    }
    .textone {
        width: 70%;
        margin-left: 15vw;
        text-align: left;
        /*margin-bottom: 500vh;*/
    }

    p {
    	margin-top: 20vh;
    }
img{
    	display: none;
    }

   	
}

.cite {
	width: 41vw;
	z-index: 920;
	position: absolute;
	margin-left: 34vw;
	margin-top: 150vh;
	font-size: .5em;
	background-color: transparent;
	color:#D03E28;

}

#disqus_thread {
	width: 43vw;
	margin-top: 130vh;
	margin-left: 34vw;
}


