* {	background-color: #FFF7D6;
    margin: auto;
    padding: auto;
   /* background-color: #D03E28;*/
}

header {
    height: 20vh;
    width: 500vw;
  	font-family: 'Atomic Age', cursive;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Monda', sans-serif;*/
	color: #D03E28;
	font-size: 4vw;
	position: fixed; 
	z-index: 1000;
	margin-top: -53px;
	margin-left: 10vw;
	/*background-color: ;*/
}

footer {
  	width: 100%;
	position: fixed;
	z-index: 800;
	bottom: 0;
	background-color: #D03E28;
}

a {
	margin-left: 15vw;
    font-family: 'Monda', sans-serif;
    color: white;
    background-color: #D03E28;

}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: white;
    border-color: white;
}

.a {
	width: 25vw;
}
#flip {
	margin-top: 24vh;
}
#panel, #flip {
      padding: 10px;
      text-align: center;
      background-color: #D03E28;
      border: solid 1px #D03E28;
      width: 25vw;
      margin-left: 73vw;
      font-family: 'Monda', sans-serif;

  }

#panel {
      padding: 10px;
      padding-top: 2vh;
      display: none;

  }

/*.textbox {
	width: 40%;
	height: 100%;
	margin-left: 30vw;
	background-color: #D03E28;
	position: fixed;
	z-index: 10;
	position: absolute;

}*/
body {
	font-family: 'Monda', sans-serif;
	color: brown;
	height: 180vh;
}

.textone {
	width: 63vw;
	z-index: 100;
	position: absolute;
	margin-left: 10vw;
	margin-top: 15vh;
	font-size: 1.3vw;
	font-family: 'Monda', sans-serif;
	background-color: transparent;
}

#disqus_thread {
	margin-top: 130vh;
	margin-left: 10vw;
}

/*.texttwo {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 60vw;
	margin-top: 30vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.textthree {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 10vw;	
	margin-top: 105vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.textfour {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 60vw;
	margin-top: 175vh;
	font-size: 1.5vw;
	background-color: transparent;
}
*/
