* {	background-color: #FFF7D6;
    margin: auto;
    padding: auto;
   /* background-color: #D03E28;*/
}

header {
    height: 20vh;
  	font-family: 'Atomic Age', cursive;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Monda', sans-serif;*/
	color: #D03E28;
	font-size: 4vw;
	position: fixed; 
	z-index: 1000;
	margin-top: -53px;
	margin-left: 10vw;
	background-color: #FFF7D6;
}

footer {
  	width: 1000px;
	position: fixed;
	z-index: 800;
	bottom: 0;
	background-color: #D03E28;
}

a {
	margin-left: 15vw;
    font-family: 'Monda', sans-serif;
    color: white;
    background-color: #D03E28;

}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: white;
    border-color: white;
}

.red {
	z-index: 900;
}

.textbox {
	width: 40%;
	height: 300vh;
	margin-left: 60vw;
	background-color: #D03E28;
	position: fixed;
	position: absolute;

}
body {
	font-family: 'Monda', sans-serif;
	color: brown;
}

.textone {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 15vw;
	margin-top: 15vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.texttwo {
	color:#FFF7D6;
	width: 30vw;
	z-index: 1000;
	position: absolute;
	margin-left: 65vw;
	margin-top: 30vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.textthree {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 15vw;	
	margin-top: 105vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.textfour {
	color:#FFF7D6;
	width: 30vw;
	z-index: 1000;
	position: absolute;
	margin-left: 65vw;
	margin-top: 175vh;
	font-size: 1.5vw;
	background-color: transparent;
}

.textfive {
	width: 30vw;
	z-index: 100;
	position: absolute;
	margin-left: 15vw;
	margin-top: 220vh;
	font-size: 1.5vw;
	background-color: transparent;
}

.imageone {
	display: none;
	position: absolute;
	width: 20vw;
	height: 35vh;
	margin-left: 5vw;
	margin-top: 5vh;
}

.cite {
	width: 50vw;
	z-index: 100;
	position: absolute;
	margin-left: 1vw;
	margin-top: 280vh;
	font-size: .5em;
	background-color: transparent;

}

