* {	background-color: #FFF7D6;
    margin: auto;
    padding: auto;
   /* background-color: #D03E28;*/
}

header {
    height: 20vh;
  	font-family: 'Atomic Age', cursive;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'Monda', sans-serif;*/
	color: #D03E28;
	font-size: 3.5vw;
	position: fixed; 
	z-index: 1000;
	margin-top: -53px;
	margin-left: 47vw;
	background-color: #FFF7D6;
}

footer {
 	width: 500vw;
 	height: 5vh;
	position: fixed;
	z-index: 920;
	bottom: 0;
	background-color: #D03E28;
	margin-left: -10vw;
}

a {
	margin-left: 15vw;
    font-family: 'Monda', sans-serif;
    color: white;
    background-color: #D03E28;
    font-size: 1.3vw;

}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: white;
    border-color: white;
}

.red {
	z-index: 900;
}

.textbox {
	width: 40%;
	height: 250vh;

	background-color: #D03E28;
	position: fixed;
	position: absolute;

}
body {
	font-family: 'Monda', sans-serif;
	color: brown;
}

.textone {
	width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;
	margin-top: 25vh;
	font-size: 1.5vw;
	background-color: transparent;
	color:#FFF7D6;
}
.texttwo {
	
	width: 30vw;
	z-index: 800;
	position: absolute;
	margin-left: 55vw;
	margin-top: 80vh;
	font-size: 1.5vw;
	background-color: transparent;
}
.textthree {
	width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;	
	margin-top: 135vh;
	font-size: 1.5vw;
	background-color: transparent;
	color:#FFF7D6;
}

.cite {
	width: 50vw;
	z-index: 920;
	position: absolute;
	margin-left: 1vw;
	margin-top: 230vh;
	font-size: .5em;
	background-color: transparent;
	color:#FFF7D6;

}

img {
	display: inline-block;
	width: 30vw;
}

.imageone {
	opacity: 0;
	position: absolute;
	width: 20vw;
	height: 35vh;
	line-height: 20px;
	margin-left: -10vw;
	margin-top: 5vh;
 	transition: 1s;
}
.imagetwo {
	opacity: 0;
	position: absolute;
}
.imagethree {
	opacity: 0;
	position: absolute;
}
body {
  padding: 25px;
}



.text p {
	background: none;
	display: inline-block;
}


.textone:hover img {
	opacity: 1;
}

.textone {
  	animation-duration: 3s;
  	animation-name: slidein;
}

@keyframes slidein {
  from {
   	width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;
	margin-top: 25vh;
  }

  to {
	width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;
	margin-top: 25vh;
  }
}

.texttwo {
  animation-duration: 3s;
  animation-name: twomove;
}

@keyframes twomove {
  from {
   	width: 30vw;
	z-index: 800;
	position: absolute;
	margin-left: 55vw;
	margin-top: 80vh;
  }

  to {
	width: 30vw;
	z-index: 800;
	position: absolute;
	margin-left: 55vw;
	margin-top: 80vh;
  }
}

.textthree {
  animation-duration: 3s;
  animation-name: threemove;
}

@keyframes threemove {
  from {
   width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;	
	margin-top: 135vh;
  }

  to {
width: 30vw;
	z-index: 920;
	position: absolute;
	margin-left: 5vw;	
	margin-top: 135vh;
  }
}


