body {
  	font-family: 'Atomic Age', cursive;
  	margin: 30px;
	background-color: #D03E28;
	color: #FFF7D6;
	margin-top: 30px;
}

p {
	margin-top: 20px;
	font-size: .7em;
}

h2 {
	margin-top: 20px;
	}

.first {
	margin-top: 20vh;
}