a {
    font-family: 'Monda', sans-serif;
    color: #FFC9C0;

}
a:link,  a:visited {
    text-decoration: none;
}
a:hover {
    
    transition: background 1s;   
}

a:hover {
    color: white;
    border-color: white;
}

.footer {
	margin-left: 90%;
  	width: 10vw;
	position: fixed;
	display: block;
	z-index: 1000;
	bottom: 0;

}