* {
	box-sizing: border-box;
}

header {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

body {
	margin: 4px;
	margin-right: 0;
}

img {
	width: 60%;

}

.label {
	display: inline-block;
}
.label.active {
	background-color: lightpink;

}

.label.inactive {
	background-color: lightblue;
}

.prompt {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.on {
	color: red;
}
.prompt .monitor {
	display: inline-block;
	background-color: white;
	padding: 10px;
	border: 1px solid black;

}


.yay {
	display: inline block;
	
}



/*animation*/

@keyframes pulse {
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}



@media (min-height:0px) and (max-height: 440px) and (min-width: 100px)  {
	html {
		background-color: ;
	}
	.faucet {
		position: absolute;
	}

	.faucet:hover {
		background-color: ;
	}

	.water {
		display: none;
	}
	.on {
		display:none;
	}

}



 @media (min-height: 441px) {
	.water {
		padding-top: -200px;
		
		
	}

	.water:hover {
		background-color: ;
	}

	.faucet {
		display: none;
	}

	.off {
		display: none;
	}

}

@media (min-height:0px) and (max-height: 440px) and (min-width: 100px)  {
	html {
		background-color: ;
	}
	.faucet {
		position: absolute;
	}

	.faucet:hover {
		background-color: ;
	}

	.water {
		display: none;
	}

}
/*











